.icon-wrapper {
    width: 20px;  
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .debug {
    background-color: #ececec;
    color: #a0a0a0;
  }
  
  .info {
    background-color: #e0e9ff;
    color: #6490ff;
  }
  
  .warn {
    background-color: #ffdcbf;
    color: #ff8b2b;
  }
  
  .error {
    background-color: #fad0d2;
    color: #e93d43;
  }
  
  .fatal {
    background-color: #fd666b;
    color: #7d0509;
  }