.master-content-container {
  height: 100%;
  padding: var(--size-3);
  overflow: auto;
}

.master-content {
  min-height: 0;
  height: fit-content;
}

.ui-table-head span {
  font-weight: bold;
}

.filter-button {
  width: 10%;
}

.search-field {
  width: 90%;
}