.runtimelog-view {
  .master-content-container {
    height: 100%;
    overflow: auto;
  }

  .search-field {
    flex: 1;
  }

  .menu-seperator {
    margin: 0;
  }
}

.dropdown-delete {
  color: var(--error-color);
}
